.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sketchpad {
    display: grid;
    width: 500px;
    height: 500px;
    border: 3px solid black;
}

.slate {
    background-color: white;
}

.black {
    background-color: black;
}